body {
    background-color: azure;
    margin: 0px;
}
.container {
    width: 1024px;
    margin: auto;
}

.header {
    background-color: #AED6F1;
    height: 100px;
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 2px solid orange;
    
}
.header .logo {
    float: left;
    width: 15%;
}
.header .logo img {
    margin: 5px 15px 5px 15px;
    width: 90px;
    padding: 5px;
}
.header .nav {
    width: 85%;
    float: left;
}
.header .nav h1 {
    margin: 5px;
    font-family: sans-serif
}
.header .nav ul {
    float: right;
    margin-right: 15px;
}

/*untuk list tanpa bullet*/
.header .nav ul li {
    float: left;
    font-size: 16px;
    margin-left: 15px;
    display: block;
}
.header .nav ul li a {
    color: black;
    text-decoration: none;
}
.header .nav ul li a:hover {
    color: red;
    text-decoration: underline;
}
.header .nav ul li a:active {
    color: yellow;
}
.wrapper {
    background-color: #DCDCDC;
    float: left;
    width: 100%;
    
}
.sidebar {
    width: 30%;
    float: left;
}
.sidebar a {
    color: navy;
    text-decoration: none ;
}
.sidebar a:hover {
    color: orange;
    text-decoration: underline;
}
.sidebar a:active {
    color:hotpink;
}
.content {
    background-color: #EEEEEE;
    width: 70%;
    float: right;
}
.footer {
    background-color: rgb(2, 2, 39);
    clear: both;
    text-align: center;
    padding: 15px;
}
